#hero {
  min-height: 100vh;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  border-bottom: 0px;
  background: $dark-blue-text;
  font-weight: 400;
  color: $white-color;
  padding: 0rem 5.6rem;
  margin-bottom: 0;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;

  // If you want to set a background image on the hero section, uncomment these with yout custom image

  /* background: url("/src/assets/[your-image].png");
  background-position: center;
  background-size: cover; */

  @include respond(phone) {
    padding: 0rem $default-font-size;
  }

  .hero-title {
    font-size: 5.6rem;
    font-weight: 700;
    margin-bottom: 3.2rem;
    text-align: left;

    @include respond(tab-land) {
      font-size: 4rem;
    }

    @include respond(tab-port) {
      font-size: 3.6rem;
      text-align: center;
    }

    @include respond(phone) {
      font-size: 3.5rem;
      line-height: 1.5;
    }

    @include respond(phone-xs) {
      font-size: 2.8rem;
    }
  }

  .hero-cta {
    display: flex;

    @include respond(tab-port) {
      justify-content: center;
    }

    & a {
      font-size: 2.4rem;

      @include respond(phone) {
        font-size: 2rem;
      }
    }
  }

  .linkedin-icon {
    fill: white;
    width: 35px;
    height: 35px;
    cursor: pointer;
    transition: 400ms all;
    filter: drop-shadow(0px 12px 15px rgba(255, 255, 255, 0.3));
    transition: 400ms all;
    position: relative;
    z-index: 1;

    &:hover {
      filter: drop-shadow(0px 12px 15px rgba(255, 255, 255, 0.5));
    }
  }

  .linkedin-icon:hover {
    transform: scale(1.1);
  }

  .scene-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
  }
}